*{
    margin: 0;
    margin: 0;


}
/*selector de etiqueta*/

body{

    background-color: rgb(241, 173, 236);
    color: black;
}

.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
/*selector id*/
#contenedor{

    width: 900px;
    height: 6000px;
    background-color: rgba(105, 233, 255, 0.815);
    margin: 10px;
    padding: 20px;
}




