*{
    margin: 0;

}
/*Selector de Etiqueta*/

body{
    background-color: rgb(231, 206, 235);
    color:black;
 
 }

 /*selector id*/
#contenedor{
    width: 900px;
    height: 6500px;
    background-color: rgb(196, 222, 255);
    margin: 3em;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans';

}

.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 500px;
    margin: 200px;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}


